<!-- lets move it to bottom giving body a min height and using flex box and use mt-auto here -->

<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted">&copy; YelpCamp 2024 Co.</span>
  </div>
</footer>
