<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Campground</title>
  </head>
  <body>
    <form method="POST" action="/campgrounds">
      <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="campground[title]" />
      </div>
      <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="campground[location]" />
      </div>
      <button>Add</button>
    </form>
    <a href="/campgrounds">All Campgrounds</a>
  </body>
</html> -->

<!--****************** Adding basic layout -->

<!-- <% layout("layouts/boilerplate") %>

<form method="POST" action="/campgrounds">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="campground[title]" />
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" id="location" name="campground[location]" />
  </div>
  <button>Add</button>
</form>
<a href="/campgrounds">All Campgrounds</a> -->

<!-- ******************************************************************************************* -->

<!--************************ Adding styling BootStrap -->
<!-- the way to center it offset-3 -->

<!-- <% layout("layouts/boilerplate") %>

<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form method="POST" action="/campgrounds">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="campground[image]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">Rs</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            name="campground[price]"
            aria-label="Username"
            aria-describedby="price-label"
          />
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description"> Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
        >
        </textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>
    <a href="/campgrounds">All Campgrounds</a>
  </div>
</div> -->

<!-- ****************************************************** -->

<!-- ***************************** Error &&  validation -->
<!-- novalidate comes from the botstrap it will not allow default required attribute to work -->
<!-- You need to add the class="validated-form" -->
<!-- We can add success text below the inputs with class valid-feedback-->
<!-- move the script to the boiler plate so that our edit form will have access to it -->

<% layout("layouts/boilerplate") %>

<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form method="POST" action="/campgrounds" class="validated-form" novalidate>
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="campground[image]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">Rs</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            name="campground[price]"
            aria-label="Username"
            aria-describedby="price-label"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description"> Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        >
        </textarea>
        <div class="invalid-feedback">Description is required.</div>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>
    <a href="/campgrounds">All Campgrounds</a>
  </div>
</div>

<!-- <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (() => {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    // use the class which u defined on <form>
    const forms = document.querySelectorAll(".validated-form");

    // Loop over them and prevent submission
    Array.from(forms).forEach((form) => {
      form.addEventListener(
        "submit",
        (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script> -->
